SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=student_learning
DB_USER=postgres
DB_PASSWORD=change_me
DB_HOST=localhost
DB_PORT=5432
OPEN_EDX_BASE_URL=https://courses.edx.org
